<form method="post">
    <label for="FirstName">First Name</label><br/>
    <input name="FirstName" type="text"/><br/>

    <label for="LastName">Last Name</label><br/>
    <input name="LastName" type="text"/><br/>

    <label for="Age">Age</label><br/>
    <input name="Age" type="number"/><br/>

    <label for="IsSick">Is Sick</label><br/>
    <input name="IsSick" type="checkbox"/><br/>

    <label for="Gender">Gender</label><br/>
    <input name="Gender" type="text"/><br/>

    <label for="CountryId">Country Id</label><br/>
    <input name="CountryId" type="number"/><br/>

    <button type="submit">Create human</button>
</form>