@model EarthUploadViewModel
@{
    ViewData["Title"] = "Upload file";
}

@if (Model?.Stage == UploadStage.Completed)
{
    <h2 class="display-5">Upload completed</h2>
}
else
{
    <h2 class="display-5">Upload file</h2>

    <form enctype="multipart/form-data" method="post">
        <div class="custom-file col-md-5">
            <input asp-for="File" type="file" class="custom-file-input" multiple="multiple" data-show-upload="true" data-show-caption="true">
            <label asp-for="File" class="custom-file-label">Choose file</label>
        </div>
        <div class="form-group" style="margin-top: 10px">
            <button type="submit" class="btn btn-primary pull-right">Upload</button>
            <button type="reset" class="btn btn-danger">Reset</button>
        </div>
    </form>
}